@import "./_reset.css";

:root {
  --bg-main-theme-poor: rgb(255 255 255 / 0.5);
  --bg-main-theme-strong: rgb(255 255 255 / 0.2);
}

[data-theme="light"] {
  --bg-main-theme-poor: rgb(255 255 255 / 0.5);
  --bg-main-theme-strong: rgb(255 255 255 / 0.2);
}

[data-theme="dark"] {
  --bg-main-theme-poor: rgb(0 0 0 / 0.5);
  --bg-main-theme-strong: rgb(0 0 0 / 0.2);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #242424;
  color: white;
  position: relative;
  height: 100vh;
  background-image: url("https://i.pinimg.com/736x/f2/28/ff/f228ff9d866c8fbed72c8fa50eb9ce79.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.background-app-performance-poor {
  background-color: var(--bg-main-theme-poor);
  backdrop-filter: blur(24px);
}

.background-app-performance-strong {
  background-color: var(--bg-main-theme-strong);
  backdrop-filter: blur(15px);
}

.status-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  z-index: 10;
}

.main-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 10;
}

.pagination {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  z-index: 10;
}
.dock {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  z-index: 10;
}
.dock .dock_container {
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.dapp {
  width: 60px;
  height: 60px;
  background: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}
